<div class="card">
    <div class="card-header">
      Overview
    </div>
    <div class="card-body">
      <h2>{{overview.name}}</h2>  
      <p class="card-text">{{overview.address}}<b> • </b>{{overview.city}}<b> • </b><a href="mailto:{{overview.email}}">{{overview.email}}</a></p>
      <!--<p class="card-text">{{overview.city}}</p>
      <p class="card-text">{{overview.contact}}</p>
      <p class="card-text"><a href="mailto:{{overview.email}}">{{overview.email}}</a></p>-->
      <h2>Profile</h2>
      {{profile}}
    </div>
  </div>
